# Python files and venv
venv
__pycache__/

# IDE Files
.idea/
.DS_Store

# Sensitive File
.env
flask_app/config.py

# Local DB
*.db

# CSV Ticket Output File
flask_app/*.csv

# Debugging
flask_app/sample_webhook.json
